.search {
    padding: 144px 0 48px 0;
    background-color: var(--color-primary);
}

.search__wrapper {
    margin: 24px 0;
}

.search__title {
  color: var(--color-white);
  font-weight: 700;
}

@include breakpoint(xs) {    
    .form-search {
        flex-direction: column;
    }
}

@include breakpoint(sm) {
    .form-search {
        flex-direction: row;
    }
}

.form-search__wrapper {
    width: 100%;
}

@include breakpoint(xs) {    
    .form-search__wrapper {
        margin-top: 16px;
    }
}

@include breakpoint(sm) {    
    .form-search__wrapper {
        margin-top: 0;
    }

    .form-search__wrapper + .form-search__wrapper {
        margin-left: 8px;
    }
}

@media (min-width: 320px) and (max-width: 569px) {
    .control-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

@media (min-width: 570px) and (max-width:767px) {
  .control-block {
    display: flex;
    flex-direction: row;
  }
}

@include breakpoint(sm) {
    .control-block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
  }
}

.search__button {
    font-weight: 700;
}

@media (min-width: 320px) and (max-width: 569px) {
    .search__control-link {
      cursor: pointer;
      outline: none;
      
      display: flex;
      align-items: center;
      align-self: center;
      padding: 0;
      margin-top: 24px;

      border: none;
      
      color: var(--color-white);
      background-color: transparent;
  }
}

@media (min-width: 570px) {
  .search__control-link {
    cursor: pointer;
    outline: none;
    
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 24px;

    border: none;
    
    color: var(--color-white);
    background-color: transparent;
}
}

@include breakpoint(sm) {
  .search__control-link {
    margin-top: 0;
    margin-left: 32px;
  }
}

.search__image {
    margin-right: 8px;
}