.main-footer {
  padding: 48px 0;
  background-color: var(--color-bg-high);
}

.main-footer__blocks:not(:first-child) {
  margin-top: 48px;
}

.main-footer__wrapper-information {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.main-footer__phone::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-image: url("/img/group-3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.main-footer__email::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background-image: url("/img/image-1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.services {
  margin-top: 24px;
  font-size: 16px
}

@include breakpoint(sm) {
  .services {
    margin-top: 0px;
  }
}

.main-footer__title {
  font-size: 16px;
  text-transform: uppercase;
  
  color: var(--color-primary);
  font-weight: 700;
}

.main-footer__link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
}

.main-footer__link:hover,
.main-footer__link:focus {
  color: var(--color-primary-light);
}

.company {
  margin-top: 48px;
  font-size: 16px;
}

@include breakpoint(sm) {
  .company {
    margin-top: 0px;
  }
}

// 
.socials__list {
  display: flex;
}

.socials__item {
  width: 24px;
  height: 24px;
}

.socials__image {
  width: 100%;
  height: 100%;
}

.socials__link {
  font-size: 0;
}

.main-footer__copyright {
  margin-top: 32px;
}

.copyright__text {  
  margin-bottom: 8px;
  
  font-size: 14px;
  flex-basis: 100%;
  text-align: center;
}

.copyright__link {
  text-transform: none;
  font-size: 14px;
}

