.main-header {
  position: fixed;
  top: 0;
  z-index: 2;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 96px;
  padding: 0 20px;
  
  background-color: var(--color-bg);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.26);

  transform: translateY(0%);
  transition: transform 0.2s;
}

.main-header--scroll-up {
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.main-header__container {
  flex-basis: 100%;
}

@media (min-width: 320px) and (max-width: 569px) {
  .main-header__navigation {
    position: fixed;
    top: 100%;
    right: -110%;

    flex-basis: calc(59% - 112px);
    width: 100%;
    height: 60vh;
    padding: 24px;

    background-color:   var(--color-bg);
    border-top: 1px solid var(--color-primary);
    box-shadow: 0px 18px 16px 3px rgba(0,0,0,0.26);
  }
}

@media (min-width: 570px) and (max-width: 767px) {
  .main-header__navigation {
    position: fixed;
    top: 100%;
    right: 0;

    transform: translateX(120%);
    transition: transform 0.2s;

    width: 50%;
    min-height: 100vh;
    padding: 24px;

    background-color:  var(--color-bg);
    box-shadow: -37px 0px 29px -25px rgba(0,0,0,0.26);
  }
}

// sm ~ min-width 768px
@include breakpoint(sm) {
  .main-header__navigation {
    position: static;

    display: block;
    flex-basis: calc(59% - 112px);
    width: auto;
    height: auto;
    padding: 0;

    background: none;
    border: none;
  }
}

.main-header__navigation--show {
  top: 96px;
  right: 0;
}

@media (min-width: 570px) and (max-width : 767px) {
  .main-header__navigation--show {
    transform: translateX(0%);
    transition: transform 0.2s;
  }
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
}

@media (min-width: 320px) and (max-width: 569px) {
  .navigation__list {
    align-items: center;
    justify-content: space-around;
  }
}


@media (min-width: 570px) and (max-width: 767px) {
  .navigation__list {
    align-items: center;
  }
}

@include breakpoint(sm) {
  .navigation__list {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.navigation__item {
  margin-right: 16px;
}

@media (min-width: 320px) and (max-width: 569px) {
  .navigation__item {
    margin: 0;
  }
}

@media (min-width: 570px) and (max-width: 767px) {
  .navigation__item {
    margin-top: 24px;
    margin-right: 0;
  }
}

.navigation__link {
  position: relative;

  outline: none;
}

.navigation__link:hover::before,
.navigation__link:focus::before,
.navigation__link--active::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 8px;
  left: -8px;
  
  display: block;
  width: 100%;
  height: 70%;
  
  color: var(--color-primary);
  background-color: var(--color-main);
}

@media (min-width: 570px) and (max-width: 767px) {
  .navigation__link {
    font-size: 24px;
  }
}

.main-header__information {
  font-size: 12px;
}

.main-header__text {
  display: none;
}

@include breakpoint(sm) {
  .main-header__text {
    display: block;

    font-weight: 700;

    margin-bottom: 8px;
  }
}

.main-header__link {
  font-size: 16px;
}

@include breakpoint(sm) {
  .main-header__link {
    font-size: 24px;
  }
}

@include breakpoint(sm) {
  .main-header__menu-block {
    display: none;
  }
}
