// header

// .main-header {
// }

.main-header__container {
  max-height: 96px;
  padding: 12px 0;
}

// .main-header__wrapper-pictures {
// }

.main-header__navigation {
  display: none;
  flex-basis: calc(59% - 112px);
}

@include breakpoint(sm) {
  .main-header__navigation {
    display: block;
  }
}

.link {
  font-size: 16px;
  font-weight: 700;

  line-height: 1.5rem;
  text-decoration: none;

  color: var(--color-primary);
}

.navigation__item {
  margin-right: 16px;
}

.main-header__information {
  font-size: 12px;
}

.main-header__text {
  display: none;
}

@include breakpoint(sm) {
  .main-header__text {
    display: block;

    font-weight: 700;

    margin-bottom: 8px;
  }
}

.main-header__link {
  font-size: 16px;
}

@include breakpoint(sm) {
  .main-header__link {
    font-size: 24px;
  }
}

// .main-header__menu-block {
// }

@include breakpoint(sm) {
  .main-header__menu-block {
    display: none;
  }
}
