@include breakpoint (xs) {
    .choose-us {
        padding: 48px 0;
    }
}

@include breakpoint (sm) {
    .choose-us {
        padding: 80px 0;
    }
}

.choose-us__container {
    flex-shrink: 0;
}

@include breakpoint(xs) {
    .choose-us__title-wrapper {
        text-align: left;
    }
}

@include breakpoint(sm) {
    .choose-us__title-wrapper {
        text-align: center;
    }
}

@include breakpoint(xs) {
    .choose-us__title {
        text-transform: none;
        text-align: left;
    }
}
@include breakpoint(sm) {
    .choose-us__title {
        text-align: center;
    }
}

.choose-us__sub-title {
    margin-top: 16px;
}

.choose-us__block {
    align-items: center;
}

.choose-us__block + .choose-us__block {
    margin-top: 24px;
}

@include breakpoint (xs) {
    .choose-us__cards-wrapper {
        flex-shrink: 0;
        flex-direction: column;
    }
}

@include breakpoint (sm) {
    .choose-us__cards-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        margin-right: -16px;
    }
}

@include breakpoint (xs) {
    .choose-us__card {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-shrink: 0;
        background-color: var(--color-white);
        padding: 24px;
        margin-right: 0;
        margin-top: 24px;
        -webkit-box-shadow: -2px 2px 57px -46px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 2px 57px -46px rgba(0,0,0,0.75);
        box-shadow: -2px 2px 57px -46px rgba(0,0,0,0.75);
    }
}

@include breakpoint (sm) {
    .choose-us__card{
        margin-right: 16px;
        margin-top: 16px;
        flex-basis: calc(33.33% - 16px);
    }
}

.choose-us__card-image {
    max-width: 58px;
}

.choose-us__card-title {
    font-size: 16px;
    font-weight: 800;
    margin-top: 24px;
}

.choose-us__card-description {
    font-size: 14px;
    margin-top: 16px;
}

@include breakpoint (xs) {
    .choose-us__card-description {
        max-width: 430px;
    }
}