.reviews {
    padding: 48px 0;
    background-color: var(--color-bg-low);
}

@include breakpoint(sm) {
  .reviews {
    padding: 96px 0;
  }
}

.reviews__blocks {
    background-color: var(--color-main);
    border-radius: 4px;
    padding: 76px 48px 56px 72px;
}

@include breakpoint(xs) {
    .reviews__blocks {
        padding: 24px;
    }
}

@include breakpoint(sm) {
    .reviews__blocks {
        padding: 76px 48px 56px 72px;
    }
}

.reviews__title {
    margin: 0;
    text-align: left;
    color: var(--color-black);
}

.reviews__text-description {
    margin-top: 40px;
}

// Аватар
.reviews__image {
    position: absolute;
}

@include breakpoint(sm) {
    .reviews__image {
        position: absolute;
        max-width: 40%;
        top: 0;
        right: 0;
    }
}

@media (min-width: 866px) {
    .reviews__image {
        width: auto;
        top: -20%;
        right: 0;
    }
}

@include breakpoint(md) {
    .reviews__image {
        top: -10%;
        right: 0;
    }
}

.reviews__links {
    display: flex;
    margin-top: 40px;
    margin-right: auto;
}

.reviews__link {
    font-weight: 700;
}