.body__overflow--hidden {
    overflow: hidden;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.margin-top-0 {
    margin-top: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

// Banner

.banner {
    padding: 144px 0 48px 0;

    text-align: center;
    min-height: 30vh;
}

.banner__title {
    text-align: center;
    text-transform: none;
}

.banner__sub-title {
    margin-top: 8px;
    font-weight: 600;
}