.body__overflow--hidden {
    overflow: hidden;
}

// Banner

.banner {
    padding: 144px 0 48px 0;

    text-align: center;
    height: 30vh;
}

.banner__title {
    text-align: center;
    text-transform: none;
}

.banner__sub-title {
    margin-top: 8px;
}