.hero-image {
  padding: 144px 0 48px 0;

  background-image: url("/assets/img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@include breakpoint(sm) {
  .hero-image {
    padding: 168px 0 72px 0;
  }
}

.hero-image__main-title {
  text-align: center;
  font-size: 28px;

  font-weight: 900;
}

@include breakpoint(sm) {
  .hero-image__main-title {
    font-size: 40px;
  }
}

.hero-image__opportunities-wrapper {
  margin-top: 28px;
}

@include breakpoint(sm) {
  .hero-image__opportunities-wrapper {
    margin-top: 32px;
  }
}

.opportunities__link {
  display: block;
  position: relative;
  padding: 24px;

  background-color: var(--color-white);
  text-decoration: none;

  border-radius: 4px;
}

@include breakpoint(sm) {
  .opportunities__link {
    max-width: 300px;
    padding: 66px 24px;
  }
}

@media (min-width: 570px) and (max-width: 767px) {
  .opportunities__link {
    max-width: 70%;
  }
}

.opportunities__link + .opportunities__link {
  margin-top: 16px;
}

@include breakpoint(sm) {
  .opportunities__link + .opportunities__link {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  // Анимация при наведения мышки
  .opportunities__link:nth-child(1) {
    background-image: url("/assets/img/yellow_o.svg");
    background-position: -420px center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: background-position 0.5s;
  }

  .opportunities__link:hover:nth-child(1) {
    background-position: -150px center;

    transition: background-position 0.5s;
  }
}

@media (min-width: 1024px) {
  // Анимация при убирания мышки с ховера
  .opportunities__link:nth-child(2) {
    background-image: url("/assets/img/yellow_a.svg");
    background-position: center 340px;
    background-repeat: no-repeat;
    background-size: 100%;

    transition: background-position 0.5s;
  }

  .opportunities__link:hover:nth-child(2) {
    background-position: 0 30px;

    transition: background-position 0.5s;
  }
}

@media (min-width: 1024px) {
  .opportunities__link:nth-child(3) {
    background-image: url("/assets/img/yellow_v.svg");
    background-position: center -400px;
    background-repeat: no-repeat;
    background-size: 100%;

    transition: background-position 0.5s;
  }

  .opportunities__link:hover:nth-child(3) {
    background-position: center -95px;

    transition: background-position 0.5s;
  }
}

@media (min-width: 320px) and (max-width: 569px) {
  .symbol {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 569px) {
  .symbol__block {
    display: flex;
    width: 220px;
    justify-content: flex-start;
    align-items: center;
  }
}

@include breakpoint(sm) {
  .symbol__O,
  .symbol__A,
  .symbol__V {
    position: relative;
    max-height: 138px;
  }
}

@media (min-width: 320px) and (max-width: 569px) {
  .symbol__O,
  .symbol__A,
  .symbol__V {
    width: 50px;
  }
}

.opportunities__title {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 569px) {
  .opportunities__title {
    margin: 0;
    padding-left: 24px;
  }
}
